<div class="container-fluid">
    <div class="row p-2">
      <button
        mat-raised-button
        color="primary"
        class="m-2"
        [disabled]="isCallStarted"
        (click)="streamCamera()"
      >
        Stream with Camera
      </button>
      <button
        mat-raised-button
        class="m-2"
        [disabled]="isCallStarted"
        (click)="streamScreen()"
      >
        Stream with Screen
      </button>
      <button
        mat-raised-button
        color="warn"
        class="m-2"
        [disabled]="!isCallStarted"
        (click)="endCall()"
      >
        End Call
      </button>
    </div>
  
    <h2>Peers</h2>
    <ul>
      <li *ngFor="let peerId of peerList" (click)="calling(peerId)">
        <span>{{ peerId }}</span>
      </li>
    </ul>
    <div class="video-grid">
      <div *ngFor="let video of videos">
        <span *ngIf="video.userId !== ownID; else currentUserVideoLabel"
          >Peer: {{ video.userId }}</span
        >
        <ng-template #currentUserVideoLabel>
          <span>You: {{ video.userId }}</span>
        </ng-template>
        <video
          [srcObject]="video.srcObject"
          controls
          autoplay
          [muted]="video.muted"
        ></video>
      </div>
    </div>
  </div>
  