<div class="container">
  <!-- Start Grid -->
  <div class="row">

    <!-- Full row -->
    <div
      style="padding-top: 2em; padding-bottom: 2em"
      class="col-12"
      *ngIf="group"
    >
      <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Welcome to {{ group.name }}</h1>
        <p class="lead" *ngIf="currentRole === 'super'">
          As a <strong>Super Admin</strong> you can edit users groups or chats
          from here!
        </p>
        <p class="lead" *ngIf="currentRole === 'group'">
          As a <strong>Group Admin</strong> you can edit groups or chats from
          here!
        </p>
        <p class="lead" *ngIf="currentRole === 'chat'">
          You can view your groups and chats from here!
        </p>
      </div>
      <hr />
    </div>

    <!-- Full row - Content for group details -->
    <div class="row">
      <h3>Group Details</h3>
      <div class="nav-item" *ngIf="group">
        <p><strong>Group Name: </strong>{{ group.name }}</p>
        <p><strong>Group Description: </strong>{{ group.description }}</p>
      </div>
    </div>

    <!-- Full row - Content for channel -->
    <div class="row">
      <hr />
      <h3>Channels</h3>
      <div class="col-3" *ngFor="let channel of channels">
        <p><strong>{{ channel.name }}</strong></p>
        <p>{{ channel.name }}</p>
        <button style="margin-right: 10px;" class="btn btn-primary">Visit</button>
        <button style="margin-right: 10px;" class="btn btn-warning">Edit</button>
        <button class="btn btn-danger">Remove</button>
      </div>
    </div>

    <!-- Full row - Content for group members -->
    <div class="row">
      <hr />
      <h3>Members</h3>
      <div class="col-3" *ngFor="let channel of channels">
        <p><strong>Member Name: </strong>{{ channel.name }}</p>
        <button style="margin-right: 10px;" class="btn btn-warning">Remove</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  
  </div>
</div>
