<div class="container-fluid">
  <div class="row">
    <!-- Channel Header -->
    <div class="col-12" *ngIf="channel" style="padding: 1em 0">
      <div class="jumbotron jumbotron-fluid p-3">
        <h1 class="display-5">Welcome to {{ channel.name }}</h1>
        <p class="lead mb-0">{{ channel.description }}</p>
      </div>
      <hr />
    </div>

    <!-- Sidebar - Channel Members and Non-Members -->
    <div class="col-md-2">
      <!-- Channel Members -->
      <div class="mb-3">
        <h4 class="text-center">Members</h4>
        <ul class="list-group">
          <li
            *ngFor="let member of channelMembers"
            class="list-group-item p-2 member-item text-center"
          >
            <div>{{ member.username }}</div>
            <button
              *ngIf="
                userData.roles.includes('super') ||
                group.admins.includes(userData._id)
              "
              class="btn btn-danger btn-sm w-100 mt-2"
              (click)="removeMemberFromChannel(member._id)"
            >
              Remove
            </button>
          </li>
        </ul>
      </div>

      <!-- Non-Members -->
      <div
        *ngIf="
          userData.roles.includes('super') ||
          group.admins.includes(userData._id)
        "
        class="mb-3"
      >
        <h4 class="text-center">Non-Members</h4>
        <ul class="list-group">
          <li
            *ngFor="let nonMember of nonChannelMembers"
            class="list-group-item p-2 member-item text-center"
          >
            <div>{{ nonMember.username }}</div>
            <button
              class="btn btn-warning btn-sm w-100 mt-2"
              (click)="addMemberToChannel(nonMember._id)"
            >
              Add
            </button>
          </li>
        </ul>
      </div>
    </div>

    <!-- Chat and Video Section -->
    <div class="col-md-10">
      <div class="row">
        <!-- Chat Container (Reduced Size with Borders) -->
        <div
          class="col-md-7 chat-container"
          style="
            border-left: 2px solid #dee2e6;
            border-right: 2px solid #dee2e6;
            padding-left: 10px;
            padding-right: 10px;
          "
        >
          <div class="messages-container mb-3">
            <ng-container *ngIf="messages.length > 0; else noMessages">
              <ul>
                <div *ngFor="let message of messages">
                  <div *ngIf="message.system" class="system-message">
                    <em>{{ message.message }}</em>
                  </div>
                  <div *ngIf="message.eventType" class="event-message">
                    {{ message.username }} has
                    {{ message.eventType === "join" ? "joined" : "left" }} the
                    channel
                  </div>
                  <div
                    *ngIf="!message.system && !message.eventType"
                    class="chat-message"
                  >
                    <img
                      [src]="message.profilePic"
                      alt="{{ message.username }}'s profile picture"
                      class="profile-pic"
                    />
                    <p *ngIf="message.message" class="chat-bubble p-2">
                      <strong>{{ message.username }}</strong
                      >: {{ message.message }}
                    </p>
                    <img
                      *ngIf="message.imageUrl"
                      [src]="message.imageUrl"
                      class="chat-image"
                    />
                  </div>
                </div>
              </ul>
            </ng-container>
            <ng-template #noMessages>
              <div class="no-messages p-2">No Messages, Say Something!</div>
            </ng-template>
          </div>

          <div class="input-container">
            <form>
              <div class="form-group mb-2">
                <label for="messagecontent">New Message</label>
                <input
                  type="text"
                  [(ngModel)]="messagecontent"
                  name="messagecontent"
                  id="messagecontent"
                  class="form-control"
                />
              </div>
              <div class="form-group d-flex justify-content-between">
                <button
                  type="button"
                  (click)="chat()"
                  class="btn btn-primary flex-grow-1"
                  style="margin-right: 10px"
                >
                  Send Message
                </button>
                <form>
                  <div class="form-group">
                    <input
                      type="file"
                      class="form-control"
                      (change)="onFileSelected($event)"
                      name="uploadfile"
                      id="uploadfile"
                    />
                  </div>
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="uploadImage()"
                  >
                    Submit
                  </button>
                </form>
              </div>
            </form>
          </div>
        </div>

        <!-- Video Component (Increased Size) -->
        <div class="col-md-5">
          <app-video></app-video>
        </div>
      </div>
    </div>
  </div>
</div>
