<div class="container">
  <!-- Start Grid -->
  <div class="row">
    <!-- Full row -->
    <div
      style="padding-top: 2em; padding-bottom: 2em"
      class="col-12"
      *ngIf="channel"
    >
      <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Welcome to {{ channel.name }}</h1>
        <p class="lead">{{ channel.description }}</p>
      </div>
      <hr />
    </div>

    <!-- Sidebar - Channel Members -->
    <div class="col-3">
      <!-- Channel Members -->
      <div>
        <h3>Channel Members</h3>
        <ul class="list-group">
          <li
            *ngFor="let member of channelMembers"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{ member.username }}
            <button
              *ngIf="
                userData.roles.includes('super') ||
                group.admins.includes(userData.id)
              "
              class="btn btn-danger btn-sm"
              (click)="removeMemberFromChannel(member.id)"
            >
              Remove
            </button>
          </li>
        </ul>
      </div>

      <hr />

      <div
        *ngIf="
          userData.roles.includes('super') || group.admins.includes(userData.id)
        "
      >
        <!-- Non-Channel Members (Interested Members) -->
        <h3>Non-Members</h3>
        <ul class="list-group">
          <li
            *ngFor="let nonMember of nonChannelMembers"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{ nonMember.username }}
            <button
              class="btn btn-warning btn-sm"
              (click)="addMemberToChannel(nonMember.id)"
            >
              Add
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="chat-container col-8">
      <div class="messages-container">
        <ng-container *ngIf="messages.length > 0; else noMessages">
          <ul>
            <li *ngFor="let m of messages">
              <div class="chat-bubble">{{ m }}</div>
            </li>
          </ul>
        </ng-container>
        <ng-template #noMessages>
          <div class="no-messages">No Messages, Say Something!</div>
        </ng-template>
      </div>

      <div class="input-container">
        <form>
          <div class="form-group">
            <label for="messagecontent">New Message</label>
            <input
              type="text"
              [(ngModel)]="messagecontent"
              name="messagecontent"
              id="messagecontent"
              class="form-control"
            />
          </div>
          <div class="form-group d-flex justify-content-between">
            <button (click)="chat()" class="btn btn-primary flex-grow-2">
              Send Message
            </button>
            <button (click)="chat()" class="btn btn-primary flex-grow-1 mx-2">
              Send Picture
            </button>
            <button (click)="chat()" class="btn btn-primary flex-grow-1">
              Video Chat
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
