<div class="d-flex" [ngSwitch]="currentRoute">
  <div style="width: 16em; height: 100vh" class="bg-light">
    <br />

    <!-- Login -->
    <div *ngSwitchCase="'login'">
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <p style="padding-left: 1em">
            <strong>Please login to continue.</strong>
          </p>
        </li>
        <hr />
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <i class="bi-box-arrow-in-right"></i>
            Login
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark">
            <i class="bi-person-plus-fill"></i>
            Register
          </a>
        </li>
      </ul>
    </div>

    <!-- Profile -->
    <div *ngSwitchCase="'profile'">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <i class="bi-alarm"></i>
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark"> Dashboard </a>
        </li>
        <p>My Groups</p>
        <ul>
          <li *ngFor="let group of userGroups">{{ group.name }}</li>
        </ul>

        <p>Groups I Administer</p>
        <ul>
          <li *ngFor="let group of adminGroups">{{ group.name }}</li>
        </ul>

        <p>Groups I'm a Member Of (Not Admin)</p>
        <ul>
          <li *ngFor="let group of memberOnlyGroups">{{ group.name }}</li>
        </ul>
      </ul>
      <hr />
    </div>

    <div *ngSwitchDefault></div>
  </div>
</div>
