<div class="d-flex" [ngSwitch]="currentRoute">
  <div style="width: 16em; height: 100vh" class="bg-light">
    <br />

    <div *ngSwitchCase="'chat'">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <i class="bi-alarm"></i>
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark"> Dashboard </a>
        </li>
      </ul>

      <hr />
    </div>

    <div *ngSwitchDefault></div>
  </div>
</div>
